{
	"root": true,
	"parser": "@typescript-eslint/parser",
  	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"env": {
		"node": true,
		"jest": true
	},
  	"rules": {
	"@typescript-eslint/ban-types": "off",
	"@typescript-eslint/no-unused-vars": ["off"],
	"@typescript-eslint/no-var-requires": "off",
	"@typescript-eslint/interface-name-prefix": "off",
	"@typescript-eslint/explicit-function-return-type": "off",
	"@typescript-eslint/explicit-module-boundary-types": "off",
	"@typescript-eslint/no-namespace": "off",
	"@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
	"curly": "error",
	"brace-style": ["error", "allman", { "allowSingleLine": true }],
	"quotes": ["error", "single"],
	"indent": ["error", 2, { "SwitchCase": 1 }],
	"no-empty-function": "off",
	"@typescript-eslint/no-empty-function": "off",
		
	
	"no-multiple-empty-lines": 	["error", {"max": 2}],
	"semi": ["error", "always"],
	"newline-before-return": ["error"],
	"object-curly-spacing": ["error", "always"],
	"array-bracket-spacing": ["error", "always"],
	"no-unreachable": "error",
    "no-undef": "off",
	"max-len": ["error", { "code": 120 }],
	"no-constant-condition": "off"
  }
}

